.site-content {
    display: grid;
    grid-gap: 0 1rem;
    max-width: calc(1200px - 2rem);
    margin: 0 auto;
}

.site-main__content-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: stretch;
}

.site-main__headline {
    font-size: 2.375rem;
    display: inline-block;
    margin: 0 auto;
    padding: .625rem;
}

